<div>
    <h3>Edit Item</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span style="width:100px;" class="input-group-text" id="inputGroup-sizing-default">Name</span>
        </div>
        <input ng-model="Name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">

    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span style="width:100px;" class="input-group-text" id="inputGroup-sizing-default">Type</span>
        </div>
        <input type="text" ng-model="Type" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <button ng-click="Save()" type="button" class="btn btn-default">Save</button>
</div>