body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.items-container{
   width:100%;
}
.add-item {
    border: 1px solid black;
    padding:10px;
    width: 100%;
    height:70px;
    margin-bottom:20px;
}
.container{
    width:900px;
    margin:auto;
}
.table-items-thead{
    background-color:darkgrey;
}
.pagination {
    margin-left:40%;
}
.items-container-table{
    margin-bottom:15px;
    height:270px;
}
.form-group-items{
    float:left;
    margin-left:10%;
    
}
.table-items-itemName{
    width:40%;
}
.table-items-itemType {
    width: 40%;
}
.addItemButton{
    margin-left:5%;
}